.about>h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
color: #DCDCDC;
}

.about>p{
    width: 247px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #DCDCDC;
}

.about{
    padding-left: 20px;
}