.containeer{
display: flex;
height: auto;
width: 317px;
background: #1A1B21;
flex-direction: column;
align-items: center;
margin: auto;
padding-top: 30px;
border-radius: 10px;
}

.cardBody{
width: 317px;
height: 380px;
left: 116px;
top: 361px;
}