.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #161619;
    width: 317px;
    height: 64px;
    left: 116px;
    top: 760px;
border-radius: 0px 0px 10px 10px;
}